:root {
  --color-dark: #000;
  --color-light: #fff;
  --color-grey: #333;
  --color-tomato: #ff6347;
  --color-mistyrose: #ffe4e1;
  --color-rebecca-purple: #663399;

  --bg-color: var(--color-light);
  --text-color: var(--color-dark);
  --default-font-family: 'Roboto', sans-serif;

  --header-height: 60px;
  --header-bg-color: var(--color-rebecca-purple);
  --header-text-color: var(--color-dark);

  --footer-height: 60px;
  --footer-bg-color: var(--color-rebecca-purple);
  --footer-text-color: var(--color-dark);

  --hamburger--size: 48px;
  --hamburger--layer-height: 4px;
  --hamburger--layer-width: 40px;
  --hamburger--layer-color: var(--color-light);


  --z-index--header: 1;
  --z-index--footer: 1;
  --z-index--modal: 10;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility class should have single prop but for grouping you can use multiple utility classes */
.f0 {
  font-size: 8px;
}
.f1 {
  font-size: 12px;
}
.f2 {
  font-size: 16px;
}
.f3 {
  font-size: 24px;
}
.f4 {
  font-size: 36px;
}
.f5 {
  font-size: 48px;
}

/* Six + 2 - color */

.light {
  color: var(--color-light);
}
.dark {
  color: var(--color-dark);
}
.purple {
  color: var(--color-rebecca-purple);
}
.tomato {
  color: var(--color-tomato);
}
.rose {
  color: var(--color-mistyrose);
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.show-on-mobi {
  display: none;
}

@media screen and (max-width: 650px) {
  .hide-on-mobi {
    display: none;
  }

  .show-on-mobi {
    display: block;
  }
}

/* BEM */
.d-flex__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.app-container {
  height: 100vh;
  width: 100vw;

  color:var(--text-color);
  background-color: var(--bg-color);
  font-family: var(--default-font-family);
}

.app-header {
  width: 100%;
  height: var(--header-height);
  color:var(--header-text-color);
  background-color: var(--header-bg-color);
  padding-left: 16px;
  padding-right: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.app-body {
  flex: 1;
  width: 100%;
}

.app-footer {
  width: 100%;
  height: var(--footer-height);
  color:var(--footer-text-color);
  background-color: var(--footer-bg-color);

  text-align: center;
  line-height: var(--footer-height);
}

.app-spinner {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  display: none;
}
.app-spinner.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-spinner .spinner {
  width: 36px;
  height: 36px;
  border: 2px solid #fff;
  border-bottom: 2px solid #333;
  border-radius: 50%;

  animation: spinAround 1s ease-in-out infinite;
}
@keyframes spinAround {
  to {
    transform: rotate(2turn);
  }
}

.hamburger {
  position: relative;
  width: var(--hamburger--size);
  height: var(--hamburger--size);
  color: var(--hamburger--layer-color);
}
.hamburger .layer {
  display: block;
  position: absolute;
  left: 4px;
  border-bottom: var(--hamburger--layer-height) solid #fff;
  width: var(--hamburger--layer-width);
}
.hamburger .layer:nth-child(1) {
  top: 9px;
}
.hamburger .layer:nth-child(2) {
  top: 22px;
}
.hamburger .layer:nth-child(3) {
  top: 35px;
}
.hamburger.open {
  position: relative;
}

.nav-bar__item {
  margin: auto 4px;
  cursor: pointer;
}
.nav-bar__mobile .nav-bar__item:hover {
  color: var(--color-rebecca-purple);
}
.nav-bar__mobile {
  display: none;
  position: fixed;
  top: var(--header-height);
  right: 0;

  color: #000;
  background: tomato;

  max-width: 100vw;
  min-width: 50vw;
  max-height: calc(100vh - var(--header-height));
  box-shadow: -11px 9px 21px -10px rgba(0,0,0,0.75);
  border-bottom-left-radius: 8px;
}
.nav-bar__mobile .nav-bar__item {
  padding: 8px;
  display: block;
  font-size: 24px;
}
