<style>
  .carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 8px;
  }
  .carousel-container .slides .slide {
    display: none;
    height: 100%;
    width: 100%;
  }
  .carousel-container .slides .slide.current {
    display: block;
  }

  .carousel-container .action.prev,
  .carousel-container .action.next {
    width: 48px;
    height: 48px;
    font-size: 24px;
    position: absolute;
    top: calc(50% - 20px);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 9px 18px;
    border-radius: 50%;
  }
  .carousel-container .action.prev:hover,
  .carousel-container .action.next:hover {
    background-color: rgba(200, 200, 200,0.5);
  }
  .carousel-container .action.prev {
    left: 4px;
  }
  .carousel-container .action.next {
    right: 4px;
  }
</style>
<section class="carousel-container">
  <div class="slides"></div>
  <div class="action prev"><</div>
  <div class="action next">></div>
</section>
<script>
  // Writing the logic in IIFE so to keep to logic to this component only
  (function () {
    const $carouselContainer = $('.carousel-container');
    const $slidesContainer = $('.carousel-container .slides');
    let totalSlides = 0;
    let currentSlide = 0;
    let $slides;

    function nextSlide() {
      currentSlide = (currentSlide + 1) % totalSlides;

      showSlide();
    }

    function prevSlide() {
      currentSlide = (currentSlide - 1 + totalSlides) % totalSlides;

      showSlide();
    }

    function showSlide() {
      $slides.removeClass('current');
      $slides.eq(currentSlide).addClass('current');
    }

    function initCarousel() {
      const $dataSize = $carouselContainer.closest('[data-slide-size]');
      const $dataWidth = $carouselContainer.closest('[data-slide-width]');
      const $dataHeight = $carouselContainer.closest('[data-slide-height]');
      const dim = { w: 900, h: 300 };

      if ($dataWidth.length || $dataHeight.length || $dataSize.length) {
        dim.w = $dataWidth.attr('data-slide-width') || $dataSize.attr('data-slide-size');
        dim.h = $dataHeight.attr('data-slide-height') || $dataSize.attr('data-slide-size');
      }

      ET_API.getSlides(9, dim).then(slides => {
        slides.forEach((sl) => {
          $slidesContainer.append($(`<div class="slide" style="background: ${sl.bg};"></div>`));
        });

        $slides = $slidesContainer.find('.slide');
        totalSlides = $slides.length;

        showSlide();

        const $dataAuto = $carouselContainer.closest('[data-auto]');

        if ($dataAuto.length && $dataAuto.attr('data-auto') === 'true') {
          const delay = Number($dataAuto.attr('data-delay') || 2000);

          setInterval(nextSlide, delay);
        }

        $carouselContainer.find('.next').click(nextSlide);
        $carouselContainer.find('.prev').click(prevSlide);
      });
    }

    initCarousel();
  })();
</script>
