.page.home .search-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px 0;
  padding: 16px 24px;
}

.page.home .search-box .label {
  width: 20%;
}
.page.home .search-box .value {
  width: 80%;
}

.page.home .search-box .search-btn {
  flex: 1;
  background-color: var(--color-rebecca-purple);
  padding: 8px;
  cursor: pointer;
}

.page.home .search-results {
  width: 100%;
  padding: 16px 24px;
  background-color: var(--color-mistyrose);
}

.page.home .search-results .row {
  margin: 8px 0;
  border: 2px solid var(--color-grey);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page.home .search-results .row span {
  flex: 1;
}

@media screen and (min-width: 650px) {
  .page.home .search-box,
  .page.home .search-results {
    width: 80%;
    margin: auto;
  }
}


.carousel-container {
  position: relative;
  width: 80%;
  height: 100px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 8px;
}
.slides .slide {
  display: none;
  height: 100%;
  width: 100%;
}
.slides .slide.current {
  display: block;
}

.carousel-container .action.prev,
.carousel-container .action.next {
  font-size: 24px;
  position: absolute;
  top: calc(50% - 20px);
}
.carousel-container .action.prev {
  left: 4px;
}
.carousel-container .action.next {
  right: 4px;
}
