.page.home .search-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px 0;
  padding: 16px 24px;
}

.page.home .search-box .label {
  width: 20%;
}
.page.home .search-box .value {
  width: 80%;
}

.page.home .search-box .search-btn {
  flex: 1;
  background-color: var(--color-rebecca-purple);
  padding: 8px;
  cursor: pointer;
}

.page.home .search-results {
  width: 100%;
  padding: 16px 24px;
  background-color: var(--color-mistyrose);
}

.page.home .search-results .row {
  margin: 8px 0;
  border: 2px solid var(--color-grey);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page.home .search-results .row span {
  flex: 1;
}

@media screen and (min-width: 650px) {
  .page.home .search-box,
  .page.home .search-results {
    width: 80%;
    margin: auto;
  }
}
