.page.dashboard {
  background-color: blanchedalmond;
  height: 100%;
  width: 100%;
}

.page.dashboard .my-buses,
.page.dashboard .my-bookings {
  width: 80%;
  height: auto;
  margin: auto;
}

.tickets-info-container {
  width: 80%;
  height: auto;
  margin: auto;
  padding: 24px;
  background-color: burlywood;
}
.booking-info-container,
.bus-info-container {
  width: 100%;
  padding: 24px;
  background-color: burlywood;
}

.add-bus-section {
  width: 320px;
  padding: 24px;
  background-color: burlywood;
  margin: 24px auto;
  text-align: center;
}

.reg-bus-btn {
  text-align: center;
  margin: 24px auto;
  padding: 10px;
}
