<style>
  .modal {
    margin: 0;
    padding: 0;
    z-index: var(--z-index--modal);
  }

  .modal .modal-overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal .modal-content {
    width: auto;
    min-width: 550px;
    background-color: #fff;
    border-radius: 5px;
    padding: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal .modal-header, .modal .modal-footer {
    height: 48px;
    line-height: 48px;
    width: 100%;
  }
  .modal .modal-header .modal-close {
    margin: 10px;
    float: right;
    cursor: pointer;
  }
  .modal .modal-body {
    flex: 1;
    width: 100%;
    padding: 24px 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    overflow-y: scroll;
  }
  .modal .modal-body .seats-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 4px;
  }

  .modal .modal-body .seats-action .seat-btn {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #333;
    color: #fff;
  }

  .modal .modal-body .seats-action .seat-btn.active {
    background-color:#2086b7;
  }

  .modal .modal-body .passengers {
    width: 96%;
    margin: auto;
  }
  .modal .modal-body .passengers .btn-checkout {
    width: 90%;
    margin: auto;
    height: 24px;
  }

  .modal .modal-body .passengers .row {
    margin: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .modal .modal-body .passengers .row .passenger__info,
  .modal .modal-body .passengers .row .first-half,
  .modal .modal-body .passengers .row .second-half {
    width: 100%
  }

  .bus-interior {
    display: flex;
    flex-flow: row wrap;

    border: 2px solid #000;
    padding: 8px;
    border-radius: 4px;
    max-width: 530px;
    margin: 16px auto;
  }

  .bus-interior .row {
    height: 144px;
  }
  .bus-interior .row .wheel {
    font-size: 24px;
    margin-right: 8px;
  }

  .bus-interior .row .walkway {
    height: 24px;
  }
  .bus-interior .row .seat {
    width: 24px;
    height: 24px;
    margin: 4px;
    border: 3px solid #000;
    border-left-color: transparent;
    border-radius: 4px;
    cursor: pointer;
  }
  .bus-interior .row .seat.booked {
    border-color: var(--color-booked);
    border-left-color: transparent;
    cursor: not-allowed;
  }
  .bus-interior .row .seat.available {
    border-color: var(--color-available);
    border-left-color: transparent;
  }
  .bus-interior .row .seat.available:hover,
  .bus-interior .row .seat.selected {
    border-color: var(--color-selected);
    border-left-color: transparent;
  }
  .bus-interior .row .seat.female {
    border-color: var(--color-female);
    border-left-color: transparent;
  }
</style>
<div class="modal">
  <div class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
        <strong class="modal-header__title"></strong>
        <button class="modal-close"><strong>X</strong></button>
      </div>
      <div class="modal-body">
        <div class="seats">
          <div>Please select number of seats:</div>
          <section class="bus-interior"></section>
        </div>
        <div class="passengers"></div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
<script>
  (function (){
    const $modalContainer = $('.modal-container');
    const $modalTitle = $('.modal-header .modal-header__title');
    const $modalClose = $('.modal-header .modal-close');
    const $modalBody = $('.modal-body');
    const $modalFooter = $('.modal-footer');
    const $passengers = $('.modal-body .passengers');
    const $busInterior = $('.modal-body .bus-interior');
    const busData = $modalContainer.data();
    let selectedSeats = [];

    // parent handlers to pass data from modal to parent.
    const onSubmitHandlerName = $modalContainer.attr('data-on-modal-sumbit');
    const onCloseHandlerName = $modalContainer.attr('data-on-modal-close');

    $modalTitle.text('Checkout');
    $busInterior.append($('<div class="row"><div class="wheel">𐃏</div></div>'));
    if (busData && busData.bookings) {
      let seatNumber = 1;
      ET.chunk(busData.bookings, 4).forEach(row => {
        const $row = $('<div class="row"></div>');

        row.forEach((s, i) => {
          const classes = ['seat'];

          if (s.isFemaleOnly && s.available) {
            classes.push('female');
          } else if (s.available) {
            classes.push('available');
          } else {
            classes.push('booked');
          }

          if (i === 2) {
            $row.append('<div class="walkway"></div>');
          }

          const $seat = $(`<div class="${classes.join(' ')}">${seatNumber++}</div>`);

          $seat.data(s);

          if (s.available) {
            $seat.click(onClickSeatNumber);
          }

          $row.append($seat);
        });

        $busInterior.append($row);
      });
    }

    function onClickCloseModal(e) {
      selectedSeats = [];
      $modalContainer.empty();

      ET[onCloseHandlerName] && ET[onCloseHandlerName](e);
    }

    function onClickSeatNumber(e) {
      e.preventDefault();
      e.stopPropagation();

      const $seat = $(e.target);
      const seat = {
        number: Number($seat.text()),
        price: $seat.data().price
      };;


      if ($seat.hasClass('selected')) {
        selectedSeats = selectedSeats.filter(s => s.number !== seat.number);
      } else {
        selectedSeats = [...selectedSeats, seat].sort((a, b) => a.number - b.number);
      }

      $seat.toggleClass('selected');

      $passengers.empty();
      $passengers.append(createPassengerForm());
    }

    function passengerInfoElm(s) {
      const id = s.number;

      return $(`
        <div class="row">
          <h3 class="passenger__info">Passenger Info: Seat Number ${id}, Price: ${ET.formatPrice(s.price)}</h3>

          <div class="first-half">
            <label for="name-${id}">Name:</label>
            <input type="text" name="name-${id}" id="name-${id}" required minlength="3">

            <label for="gender-${id}">Gender:</label>
            <select id="gender-${id}" name="gender-${id}" required>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>

          <div class="second-half">
            <label for="age-${id}">Age:</label>
            <input type="text" name="age-${id}" id="age-${id}" required>

            <label for="phone-${id}">Phone:</label>
            <input type="text" name="phone-${id}" id="phone-${id}" required minlength="10" maxlength="10">
          </div>
        </div>
      `);
    }

    function createPassengerForm() {
      const $formWrapper = $(`
        <div class="passenger-info">
          <form name="passengers" class="passenger-form"></form>
        </div>
      `);
      const $formElm = $formWrapper.find('.passenger-form');

      selectedSeats.forEach(s => $formElm.append(passengerInfoElm(s)));

      $formElm.append($('<input type="submit" class="btn-checkout" value="Book Now">'));
      $formElm.submit(onCheckout);

      return $formElm;
    }

    function onCheckout(e) {
      e.preventDefault();
      e.stopPropagation();

      const passengerList = [];
      const formFields = ['name', 'gender', 'age', 'phone'];
      const formElm = e.target;

      selectedSeats.forEach(s => {
        const passenger = formFields.reduce((acc, cur) => ({
          ...acc, [cur]: formElm[`${cur}-${s.number}`].value, seat: s.number, price: s.price
        }), {});

        passengerList.push(passenger);
      });

      ET[onSubmitHandlerName] && ET[onSubmitHandlerName](passengerList, e);
    }

    $modalClose.click(onClickCloseModal);
  })();
</script>

